@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --blue-main-bg: hsl(217, 54%, 11%);
  --blue-card-bg: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  /* primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--blue-main-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 80%;
  width: max(30vw, 22.5rem);
  background-color: var(--blue-card-bg);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 0.75rem;
  box-shadow: 0.1rem 0.1rem 10rem 5rem var(--blue-line);
}

.card_img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 3%;
  backface-visibility: hidden;
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
.wrapper {
  background-color: var(--Cyan);
  grid-row: 1/7;
  cursor: pointer;
  border-radius: 5%;
  position: relative;
}

.wrapper:hover .card_img {
  opacity: 0.5;
}
.wrapper:hover .view {
  opacity: 1;
}

.view {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.card h1 {
  color: var(--White);
  cursor: pointer;
  font-size: max(2vw, 1.25rem);
}
.card h1:hover {
  color: var(--Cyan);
}

.content {
  grid-row: 7/11;
}

.content_title {
  padding: 0.75rem 0;
  font-size: 1.25rem;
}

.content_descreption {
  color: var(--Soft-blue);
  font-size: 0.9em;
  line-height: 1.5;
}
.links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0.56rem 0;
}

.links a {
  text-decoration: none;
  color: var(--Soft-blue);
  font-size: 0.8em;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  border-top: 0.5px solid var(--blue-line);
}

.author_avatar {
  width: 10%;
  display: inline-block;
}

.author p {
  color: var(--Soft-blue);
  font-size: 00.9em;
}
.author a {
  color: var(--White);
  display: inline-block;
  padding-left: 0.2rem;
  cursor: pointer;
}

.author a:hover {
  color: var(--Cyan);
}

/* @media screen and (min-width: 340px) {
  .card {
    width: 85%;
  }
}

@media screen and (min-width: 540px) {
  .card {
    width: 61%;
  }
}

@media screen and (min-width: 740px) {
  .card {
    width: 52%;
  }
}

@media screen and (min-width: 860px) {
  .card {
    width: 40%;
  }
}

@media screen and (min-width: 940px) {
  .card {
    width: 33%;
  }
}

@media screen and (min-width: 1040px) {
  .card {
    width: 29%;
  }
} */
